body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

/* Form */
.required-text {
    padding-bottom: 10px;
}
/* MForm */

/* FEED */

.bar {
    background-color: #F3F3F3;
    height: 40px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.feed-post-container {
    background-color: #FFFFFF;
    border-bottom: 3px solid #dddddd;
    border-left: 3px solid #b81e0d;
    border-right: 1px solid #dddddd;
    height: 108px;
    padding: 10px 10px;
}

.feed-header {
    border: 1px solid #dddddd;
    height: 42px;
    margin-top: 10px;
    padding: 10px 0;
}

.feed-header .feed-filter {
    border-right: 2px solid #EBEBEB;
    margin: 5px 0;
    padding: 0 10px 0 10px;
    text-decoration: none;
    position: relative;
}

.feed-header .create-event-button {
    margin-top: -5px;
    margin-right: 5px;
}

.feed-header .selected::after {
    content: "";
    background-color: #b81e0d;
    opacity: 1;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;
}

.feed-main {
    padding-top: 10px;
}

.feed-main .feed-header {
    background-color: #FFFFFF;
}

.feed-main .feed-post .feed-image {
    width: 125px;
    height: 80px;
    margin: 0 10px;
    float: left;
    overflow: hidden;
}

.feed-post .feed-title {
    font-weight: 700;
    font-size: 16px;
    color: #d9230f;
}

.btn-primary {
    text-decoration: none !important;
}

.buttons {
    padding-top: 5px;
    width: 40%;
}

.event-status-selected {
    color: #ffffff;
    background-color: #469408;
    border-color: #469408;
}

.event-status-selected, .event-status-selected:hover {
    background-image: -webkit-linear-gradient(#4da309, #469408 6%, #3f8507);
    background-image: -o-linear-gradient(#4da309, #469408 6%, #3f8507);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4da309), color-stop(6%, #469408), to(#3f8507));
    background-image: linear-gradient(#4da309, #469408 6%, #3f8507);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4da309', endColorstr='#ff3f8507', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid #2f6405;
}

.event-status-selected:focus {
    color: #ffffff;
    background-color: #2f6405;
    border-color: #0d1b01;
}

.event-list-row {
    cursor: pointer;
}

/* END FEED */

/* User Info */

.padded {
    padding-top: 10px;
}

.user-info {
    position: relative;
}

.user-info-header {
    padding-bottom: 40px;
    position: relative;
}

.user-profile-image {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    border: 2px solid white;
    border-radius: 3px;
}

.user-profile-image img {
    width: auto;
    height: auto;
}

.user-info-name {
    margin-left: 33%;
}

/* End User Info */

/* Map */

.map {
    height: 500px;
}

.small-map {
    height: 170px;
    border: 2px solid #EBEBEB;
}

.panel-heading {
    font-weight: bold;
}

.modal-map {
    height: 300px;
    margin-bottom: 20px;
    position: relative;
}

.map-search {
    margin-top: 10px;
    height: 25px;
    width: 75%;
}

.pac-container {
    z-index: 1051;
}


/* Map End */

/* Event Page */

.buttons-big {
    padding-bottom: 10px;
}

.event-attendees table {
    width: 100%;
}

.count {
    font-weight: bold;
}

.event-location-info div {
    position: relative;
    padding-left: 20px;
    font-weight: bold;
    min-height: 20px;
}

.event-location-info {
    padding-top: 10px;
    padding-left: 10px;
}

.event-location-info .icon {
    position: absolute;
    left: 0;
    line-height: 21px;
}
.iw_table_row {
  height: 18px;
  background-color: #FFFFFF;
}

.iw_table_row a {
    color: #3333FF;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
  width: 50px;
}
.iw_attribute_val {
  font-weight: bold;
  text-align: left;
}
/* Event Page End */